@font-face {
    font-family: pf;
    src: url(./assets/font/PingFangMedium.ttf);
}
@font-face {
    font-family: pfBlod;
    src: url(./assets/font/PingFangBold_0.ttf);
}
@font-face {
    font-family: yjsz;
    src: url(./assets/font/circle-number.ttf);
}
